

.Item{
    text-transform: capitalize;
}

.Li{
    text-align: left;
    text-decoration: none;

    display: flex;
    justify-content: space-between;
}

.OrderSummary ul{
    list-style: none;
    padding: 0 10%;
}